<div class="container-fluid profile-wrapper">
    <div class="row align-items-center profile-preview">
        <div class="col-2 col-sm-1 gx-0">
            <img class="img-fluid rounded" src="{{user.avatar_url}}" alt="Foto de {{user.name}}">
        </div>
        <div class=" col-7 col-sm-9">
            <div class="row align-items-center">
                <div class="col-auto">
                    <h3>{{user.login}}</h3>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <a href="{{user.html_url}}" target="_blank"><small>{{user.html_url}}</small></a>
                </div>
            </div>
        </div>
        <div class="col-1">
            <button class="btn text-white" (click)="showUserInfo()">
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
        </div>
        <div class="col-1">
            <button class="btn text-white" (click)="delete(user)">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
    <div [(ngbCollapse)]="isCollapsed" class="container-fluid profile-expanded">
        <div class="row profile-info">
            <div class="col-7 gx-0">
                <h4>Bio:</h4>
                <p>{{user.bio}}</p>
            </div>
            <div class="col-4 gx-0">
                <h4>Local:</h4>
                <span><fa-icon [icon]="faMapMarker"></fa-icon>  {{user.location}}</span>
            </div>
        </div>
        <div class="row profile-map">
            <app-map *ngIf="!isCollapsed" [user]="user"></app-map>
        </div>
    </div>
</div>
