/* You can add global styles to this file, and also import other style files */
.body{
    padding: 40px 20px;
    background-color: #4527A0;
    color: #fff;
    min-height: 100vh;
}

h1, p{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: bold;
    margin: 0;
}
h2{
    font-weight: 700;
}

p{
    font-weight: lighter;
}